%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Login
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to('Login', new_user_session_path)