%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Settings
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to('Profile', edit_user_registration_path)
    %li
      = link_to('Logout', destroy_user_session_path, :method => :delete)
