- @review = article.for_user(current_user)
%tr
  %td= article.id
  %td{id: "review-read-#{@review.id}"}
    = render 'reviews/read_button'
  %td{id: "review-ignore-#{@review.id}"}
    = render 'reviews/ignore_button'
  %td{id: "review-duplicate-#{@review.id}"}
    = render 'reviews/duplicate_button'
  %td= article.source
  %td
    = link_to article.title, article.url, {title: "Abstract", :target => "_blank", data: {trigger:"hover", container: "body", toggle: "popover", placement: "right", content: "#{article.abstract}", html: true}}
  %td= article.authors