%p#notice= notice

%h1 Listing Articles for #{current_user.name}

.apple_pagination
  .page_info
    = page_entries_info @articles
  = will_paginate @articles, :container => false

%table.table.table-condensed
  %thead
    %tr
      %th.col-md-2{colspan: 4}
      %th.col-md-10{colspan: 3}
    %tr
      %th id
      %th.center{colspan: "3"} Include?
      %th Source
      %th Title
      %th Authors
      
  %tbody
    = render @articles

.apple_pagination
  = will_paginate @articles

:javascript
  $(function () { 
    $("[data-toggle='popover']").popover();
  });