%p#notice= notice

%h1 Listing Current Status for All Articles

.apple_pagination
  .page_info
    = page_entries_info @articles
  = will_paginate @articles, :container => false

%table.table.table-condensed
  %thead
    %tr
      %th.col-md-2{colspan: 4}
      %th.col-md-10{colspan: 3}
    %tr
      %th id
      %th.center{colspan: "3"} Include?
      %th Source
      %th Title
      %th Authors
      
  %tbody
    - for article in @articles
      %tr
        %td= article.id
        %td
          = render 'reviews/read_icon'
        %td
          = render 'reviews/ignore_icon'
        %td
          = render 'reviews/duplicate_icon'
        %td= article.source
        %td
          = link_to article.title, article.url, {title: "Abstract", :target => "_blank", data: {trigger:"hover", container: "body", toggle: "popover", placement: "right", content: "#{article.abstract}", html: true}}
        %td= article.authors
.apple_pagination
  = will_paginate @articles

:javascript
  $(function () { 
    $("[data-toggle='popover']").popover();
  });