%tr
  %td= difference.article_id
  %td= difference.hans
  %td= difference.faiza
  %td= difference.eelco
  %td= difference.roel
  %td
    = link_to difference.title, difference.url, {title: "Abstract", :target => "_blank", data: {trigger:"hover", container: "body", toggle: "popover", placement: "right", content: "#{difference.abstract}", html: true}}