%p#notice= notice

%h1 Listing Differences

.apple_pagination
  .page_info
    = page_entries_info @differences
  = will_paginate @differences, :container => false

%table.table.table-condensed
  %thead
    %th id
    %th hans
    %th faiza
    %th eelco
    %th roel
    %th title
      
  %tbody
    = render @differences

.apple_pagination
  = will_paginate @differences

:javascript
  $(function () { 
    $("[data-toggle='popover']").popover();
  });