@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    margin: 20px;
}

th.center{
  text-align: center;
}

.smaller-font {
  font-size: 75%;
}

/* Dashboard data */
.read-articles { color: #4cae4c; font-weight: bold; }
.ignored-articles { color: #d9534f; font-weight: bold; } 
.duplicate-articles { color: #5bc0de; font-weight: bold; }
.to-be-done-articles { color: #000000; font-weight: bold; }

/* Pagination links */
.apple_pagination {
   background: #f1f1f1;
   border: 1px solid #e5e5e5;
   text-align: center;
   padding: 1em;
   cursor: default;
 }
 .apple_pagination a, .apple_pagination span {
   padding: 0.2em 0.3em;
 }
 .apple_pagination .disabled {
   color: #aaaaaa;
 }
 .apple_pagination .current {
   font-style: normal;
   font-weight: bold;
   background-color: #bebebe;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   line-height: 1.5;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
 }
 .apple_pagination a {
   text-decoration: none;
   color: black; 
 }
 .apple_pagination a:hover, .apple_pagination a:focus {
   text-decoration: underline; 
 }