- if @review.result[0] == "D"
  - btn_class = "btn btn-info"
  - dupval = @review.result[1,@review.result.length]
- else
  - btn_class = "btn btn-inverse"
  - dupval = nil
= form_tag review_duplicate_path(@review), remote: true do
  .input-group
    %span.input-group-btn
      = button_tag :class=>btn_class do
        %span.glyphicon.glyphicon-duplicate
    = text_field_tag "text-duplicate-#{@review.id}".to_sym, dupval, class: "form-control smaller-font", placeholder: "#"
