- if @review.result == "N"
  - btn_class = "btn btn-danger"
- else
  - btn_class = "btn btn-inverse"
= button_to review_ignore_path(@review), :class=>btn_class, :remote=>true do
  %span.glyphicon.glyphicon-remove
  