- if @review.result == "Y"
  - btn_class = "btn btn-success"
- else
  - btn_class = "btn btn-inverse"
= button_to review_read_path(@review), :class=>btn_class, :remote=>true do
  %span.glyphicon.glyphicon-ok