$('#review-read-<%= @review.id %>').html("<%= escape_javascript(render 'read_button') %>");
$('#review-ignore-<%= @review.id %>').html("<%= escape_javascript(render 'ignore_button') %>");
$('#review-duplicate-<%= @review.id %>').html("<%= escape_javascript(render 'duplicate_button') %>");
$('#progress').html("<%= escape_javascript(render 'layouts/progress') %>");