-# app/views/layouts/_messages.html.haml
- flash.each do |name, msg|
  - if msg.is_a?(String)
    - case name
    - when "notice"
      - type = "success"
    - when "info"
      - type = "info"
    - when "warning"
      - type = "warning"
    - when "error"
      - type = "danger"
    - when "alert"
      - type = "danger"
    - else type = name
    %div{:class => "alert alert-#{type}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}"