%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} LitRes
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        -if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Articles
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to('Alphabetically', articles_path)
              %li
                = link_to('By ID', articles_numbered_path)
              %li
                = link_to('Selected articles', articles_yesses_path)
              %li
                = link_to('Unrated articles', articles_unrated_path)
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          = render 'devise/menu/signed_in'
        - else
          = render 'devise/menu/login'
      %ul.nav.navbar-nav.navbar-right#progress
        = render 'layouts/progress'
          