%li 
  %a{href: "#"}
    Read: 
    %span.read-articles= "#{Review.read(current_user)}" 
    Ignore: 
    %span.ignored-articles= "#{Review.ignore(current_user)}" 
    Duplicate: 
    %span.duplicate-articles= "#{Review.duplicates(current_user)}"
    To be done: 
    %span.to-be-done-articles= "#{Review.to_be_done(current_user)}"