!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale = 1"}
    %title= content_for?(:title) ? yield(:title) : envir + ": Literature Research"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top 
      -#.navbar-inverse
      -# %nav.navbar-inner
      = render 'layouts/navbar'
      -#
        %nav.navbar.navbar-default
          -# .container
          .container-fluid
            .navbar-header
        
            = # render 'devise/menu/registration_items'
            = # render 'devise/menu/login_items'
          
      -# %a.brand{:href => "/"} LitRes
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = yield
          %footer